<!-- <div>
  <h2>edit your details:</h2>
  <form (ngSubmit)="submitChanges()">
    <mat-form-field>
      <mat-label>First name:</mat-label>
      <input matInput formControlName="firstName" type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last name:</mat-label>
      <input matInput formControlName="lastName" type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput formControlName="tz" type="text" [id]="'tz'" [attr.aria-describedby]="'tz-error'" (input)="onInputIdChange($event)">
      <mat-error *ngIf="empForm.get('tz')!.hasError('required') && empForm.get('tz')!.touched">
        ID is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Birth date</mat-label>
      <input matInput formControlName="birthDate" [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="isMale">
        <mat-option [value]="true">Male</mat-option>
        <mat-option [value]="false">Female</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start work date</mat-label>
      <input matInput formControlName="beginningOfWork" [matDatepicker]="picker1">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <button type="submit">Save Changes</button>
  </form>
</div>
 -->
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  rel="stylesheet"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="form-bg">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <form class="form-horizontal" [formGroup]="empEditForm">
          <div class="header">Update details</div>
          <div class="form-content">
            <h4 class="heading">change your details:</h4>
            <div class="form-group">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>First name</mat-label>
                  <input matInput formControlName="firstName" type="text" />
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Last name</mat-label>
                  <input matInput formControlName="lastName" type="text" />
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>ID</mat-label>
                  <input
                    matInput
                    formControlName="tz"
                    type="text"
                    [id]="'tz'"
                    [attr.aria-describedby]="'tz-error'"
                    (input)="onInputIdChange($event)"
                  />
                  <mat-error
                    *ngIf="
                      empEditForm.get('tz')!.hasError('required') && empEditForm.get('tz')!.touched
                    "
                  >
                    ID is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Birth date</mat-label>
                  <input matInput formControlName="birthDate" [matDatepicker]="picker" />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="isMale">
                    <mat-option [value]="true">Male</mat-option>
                    <mat-option [value]="false">Female</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Start work date</mat-label>
                  <input matInput formControlName="beginningOfWork" [matDatepicker]="picker1" />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group" formArrayName="jobPositions">
              <div class="clearfix"></div>
              <div
                *ngFor="let job of jobPositionsFormArray.controls; let i = index"
                [formGroupName]="i"
              >
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Position name</mat-label>
                    <mat-select formControlName="name">
                      <ng-container *ngFor="let role of roles">
                        <mat-option *ngIf="!role.disabled" [value]="role.value">{{
                          role.description
                        }}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label for="start">Start position date</mat-label>
                    <input matInput formControlName="start" [matDatepicker]="picker2" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Is management position</mat-label>
                    <mat-select formControlName="isManagementRole">
                      <mat-option [value]="true">Management</mat-option>
                      <mat-option [value]="false">Not Management</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <button mat-icon-button (click)="removeJobPosition(i)">
                  <mat-icon>delete</mat-icon>
                </button>
                <div class="clearfix"></div>
              </div>
              <button class="btn-add-job" mat-button type="button" (click)="addJobPosition()">
                Add Position
                <mat-icon>playlist_add</mat-icon>
              </button>
              <button type="button" class="btn btn-warning" (click)="onSubmit()">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
