<div class="about-container">
  <h2>About Us</h2>
  <p>
    Friends Organization is a unique organization that provides "non-medical first aid" without
    requiring professional knowledge in roads and homes, 24 hours a day, except for Sabbath and
    holidays.
  </p>

  <p>
    The organization offers assistance in various areas, including: tire change, jump-starting
    vehicles, refueling water / oil / fuel, on highways, and even unlocking locked vehicles using
    professional equipment without any damage.
  </p>

  <p>
    In addition, Friends volunteers perform off-road rescues for stuck vehicles, assist in opening
    locked house doors, and undergo professional training to rescue people from stuck elevators.
  </p>

  <h3>Collaborations</h3>
  <p>
    The organization collaborates with all emergency services and assists in rescuing babies locked
    in vehicles, rescuing people from stuck elevators in situations where there is a concern for
    human life, and assisting the Israel Police in locating missing persons.
  </p>

  <p>
    Additionally, collaborations exist with many localities throughout the country to provide prompt
    routine assistance and integrate organization volunteers into unique projects, such as "City
    Without Violence" or "SAR" to provide immediate emergency response.
  </p>

  <h3>How It All Began</h3>
  <p>
    The organization was founded in 2006 and is managed by CEO Israel Almasi, alongside Deputy CEO
    Leizi Stern. Since then, the organization has grown and developed to the point where thousands
    of people from all over the country turn to them every month, regardless of religion, ethnicity,
    or gender, because in any case where they are stuck on the roads, Friends will always be there
    to rescue and assist.
  </p>

  <h3>Where We Stand Today</h3>
  <p>
    This is made possible thanks to 65,000 volunteers from all walks of civilian life in Israel,
    spread across the country, from Dan to Eilat, equipped with experience, knowledge, and extensive
    professional equipment.
  </p>

  <p>
    Starting with the national call center, operated by over three hundred and fifty volunteer
    operators who, through an advanced central system, receive calls, assign tasks to relevant
    teams, and dispatch available responders in the field, to provide the fastest possible
    assistance to the stranded citizen.
  </p>

  <h3>Our Vision</h3>
  <p>
    Our vision is to reach a point where there is at least one volunteer in every building, so that
    no person will be stuck for more than a few minutes anywhere in the world.
  </p>

  <p>This will make Israel a better place.</p>
</div>
