/* login.component.css */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

body,
html {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.card {
  max-width: 400px; /* adjust this value as needed */
  width: 200%;
  margin: auto;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 0;
}

@media (max-width: 768px) {
  .card {
    max-width: 90%; /* adjust this value for smaller screens */
  }
}
