<!-- login.component.html -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="card-container">
  <div class="card">
    <div class="card-body">
      <!-- Login form -->
      <form [formGroup]="loginForm">
        <h2 class="text-center font-up font-bold deep-orange-text py-4">Log in</h2>
        <div class="md-form">
          <i class="fa fa-user prefix gray-text"></i>
          <input type="text" placeholder="Your name" formControlName="name" id="orangeForm-name3" class="form-control">
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix gray-text"></i>
          <input type="password" placeholder="Your password" formControlName="password" id="orangeForm-pass3"
            class="form-control">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-deep-orange" (click)="checkUserExists()">Next<i class="fa fa-angle-double-right pl-2" aria-hidden="true"></i></button>
        </div>
      </form>
      <!-- Login form -->
    </div>
  </div>
</div>
