<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="form-bg">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <form class="form-horizontal" [formGroup]="empForm">
          <div class="header">Add Volunteer</div>
          <div class="form-content">
            <h4 class="heading">Enter your details:</h4>
            <div class="form-group">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>First name</mat-label>
                  <input matInput formControlName="firstName" type="text">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Last name</mat-label>
                  <input matInput formControlName="lastName" type="text">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>ID</mat-label>
                  <input matInput formControlName="tz" type="text" [id]="'tz'" [attr.aria-describedby]="'tz-error'"
                    (input)="onInputIdChange($event)">
                  <mat-error *ngIf="empForm.get('tz')!.hasError('required') && empForm.get('tz')!.touched">
                    ID is required
                  </mat-error>
                  <mat-error *ngIf="empForm.get('tz')!.hasError('pattern') && empForm.get('tz')!.touched">
                    ID should be 9 digits
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Birth date</mat-label>
                  <input matInput formControlName="birthDate" [matDatepicker]="picker">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="isMale">
                    <mat-option [value]="true">Male</mat-option>
                    <mat-option [value]="false">Female</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Start work date</mat-label>
                  <input matInput formControlName="beginningOfWork" [matDatepicker]="picker1">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error *ngIf="empForm.get('beginningOfWork')!.hasError('required') && empForm.get('beginningOfWork')!.touched ">
                    Start work date is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group">
              <div formArrayName="jobPositions">
                <div class="form-group" *ngFor="let job of jobPositions.controls; let i = index" [formGroupName]="i">
                  <div class="col-sm-6">
                    <mat-form-field>
                      <mat-label>Position name</mat-label>
                      <mat-select formControlName="name">
                        <mat-option value="vehicles">🚗 extrication of vehicles</mat-option>
                        <mat-option value="wheels">🛞 changing wheels</mat-option>
                        <mat-option value="field">⛰️ rescue in field conditions</mat-option>
                        <mat-option value="elevator">🛗 elevator rescue</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field>
                      <mat-label for="start">Start role date</mat-label>
                      <input matInput formControlName="start" [matDatepicker]="picker2">
                      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field>
                      <mat-label>Is management role</mat-label>
                      <mat-select formControlName="isManagementRole">
                        <mat-option [value]="true">Management</mat-option>
                        <mat-option [value]="false">Not Management</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <button type="button" class="btn btn-default btnmk justify-content-center" (click)="deleteJob(i)"><i
                      class="fas fa-trash-alt"></i></button>
                </div>
              </div>
            </div>
            <button class="btn-add-job" mat-button type="button" (click)="addJob()">
              Add Position
              <mat-icon>playlist_add</mat-icon>
            </button>
            <div class="clearfix"></div>
            <button type="button" class="btn btn-warning" (click)="onSubmit()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>