<div class="container">
    <!-- <button mat-button (click)="tooltip.toggle()" aria-label="Show/Hide tooltip on the button at the end of this section" class="button"> toggle show/hide </button> -->
    <img src="../../../assets/logo.png" class="logo" alt="Logo">

    <button mat-raised-button class="button" (click)="toHomePage()"> Home 🏠 </button>
    <button mat-raised-button class="button" (click)="toAddEmployee()"> Add a volunteer 👦 </button>
    <button mat-raised-button class="button" (click)="toAbout()"> About us 📃</button>

</div>
