.container {
  display: inline-block;
  margin-right: 2px;
  display: flex;
}

.button {
  margin-top: 4vh;
  margin-bottom: 2hv;
}

.logo {
  margin-bottom: 2vh;
  height: 13vh;
  margin: 1% 5% 1.2% 7%;
}
